.card {
  border: none;
  .card-item {
    position: relative;
    &:hover {
      .circle {
        opacity: 1;
      }
    }
    img {
      width: 264px;
      height: 412px;
      object-fit: contain;
      z-index: 1;
    }
    .circle {
      opacity: 0;
      width: 264px;
      height: 412px;
      background-color: rgba(0, 0, 0, 0.699);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      z-index: 3;
      transition: all 0.5s ease;
      img {
        height: 40px;
        width: 40px;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .card-body {
    .card-name {
      font-size: 14px;
      font-weight: 500;
      color: #1c1c1c;
      text-align: center;
    }
    .card-price {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      margin-top: 10px;
      .card-text {
        font-size: 15px;
        font-weight: 600;
        color: #1c1c1c;
      }
      .card-text1 {
        font-size: 10px;
        font-family: 400;
        color: red;
      }
    }
    .size {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: 20px;
      .s {
        height: 35px;
        width: 35px;
        border: 1px solid #e6e6e6;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #1c1c1c;
      }
    }

    //   @media screen and (max-width: 400px) {
    //     .container {
    //       display: flex;
    //       justify-content: center;
    //       gap: 30px;
    //     }
  }
}
